.sec_Footer {

    background-position: right;
    background-repeat: no-repeat;
    background-size: contain;

    background-color: rgb(240, 240, 240);

    width: 100vw;
    overflow: hidden;

    margin-top: 30px;

    article:nth-of-type(1) {

        padding-left: 10vw;

        p:nth-of-type(1) { /* Style Strich */

            width: 80vw;
            height: 2px;
            background-color: rgb(244, 202, 152);
            margin: left;
            margin-top: 50px;
        }

        p{
            color: rgb(34, 34, 34,0.75);

        }

        p:nth-of-type(3){
            font-size: 0.8rem;
        }
        p:nth-of-type(4){
            font-size: 0.8rem;
        }


     
    }
    article:nth-of-type(2) {
        text-align: center;
        color: rgb(34, 34, 34,0.75);

p{
    font-size: 0.8rem;
}
    }

}