.sec_Footer {

    background-position: right;
    background-repeat: no-repeat;
    background-size: contain;

    background-color: rgb(240,240,240);

p:nth-of-type(1) {
    width: 80vw;
    height: 2px;
    background-color: rgb(244, 202, 152);
    margin: left;
}

    h2 {
        color: yellowgreen;
    }
}